{% extends "base.html"%}

{% block title %}
Register | FocusFlow
{% endblock %}

{% block content %}
<h1>Register</h1>

<form method="POST">

    {% csrf_token %}

    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" value="{{ old_username }}" required>

    <label for="mail"><b>Email</b></label>
    <input type="email" placeholder="Enter Email" name="mail" value="{{ old_email }}" required>

    <label for="pass"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="pass" required>

    <label for="pass2"><b>Confirm password</b></label>
    <input type="password" placeholder="Confirm password" name="pass2" required>

    <button type="submit">Register</button>
        
</form>

{% endblock %}